/* Page Banner / Breadcrumb */
.page-banner-section {
    position: relative;

    padding: 50px 0;

    background-image: url(../images/others/page-banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
