{% extends 'base.html' %}
{% load static %}
{% load math_filters %}
{% block script %}
    <script src="{% static 'js/pagination.js' %}" defer></script>
{% endblock %}
{% block content %}
    <!-- Page Banner Section Start -->
    {% include 'includes/page_banner.html' with page_name="shop list" %}
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">

            <!-- Shop Top Bar Start -->
            <div class="shop-top-bar">
                <form method="get" id="sort-form" action="{% url 'products:product-list' %}">
                    <div class="shop-top-bar-item">
                        <label for="SortBy">Sort by :</label>
                        <select name="sort" id="SortBy">
                            {% for value, label in sort_options %}
                                <option value="{{ value }}" {% if request.GET.sort == value %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>

                <!-- Showing Information -->
                <div class="shop-top-bar-item">
                    <p>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }}
                        of {{ page_obj.paginator.count }}
                        results</p>
                </div>

                <!-- Form for Pagination -->
                <form method="get" id="paginate-form" action="{% url 'products:product-list' %}">
                    <div class="shop-top-bar-item">
                        <label for="paginateBy">Show :</label>
                        <select name="paginateBy" id="paginateBy">
                            {% for option in paginate_by_options %}
                                <option value="{{ option }}"
                                        {% if page_obj.paginator.per_page == option %}
                                        selected
                                        {% endif %}>
                                    {{ option }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>


                <div class="shop-top-bar-item">
                    <div class="nav list-grid-toggle">
                        <button class="active" data-bs-toggle="tab" data-bs-target="#product-grid"><i
                                class="sli-grid"></i></button>
                        <button data-bs-toggle="tab" data-bs-target="#product-list"><i class="sli-menu"></i>
                        </button>
                    </div>
                </div>

            </div>
            <!-- Shop Top Bar End -->

            <!-- Product Tab Start -->
            <div class="tab-content" id="shopProductTabContent">
                <div class="tab-pane fade show active" id="product-grid">
                    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">
                        {% for object in page_obj %}
                            <div class="col mb-6">

                                {% include 'includes/product_list_square.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="product-list">
                    <div class="row row-cols-md-1 row-cols-sm-2 row-cols-1 gy-4">
                        {% for object in page_obj %}
                            <div class="col mb-6">

                                {% include 'includes/product_list_sliding.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Product Tab End -->

            <!-- Shop Bottom Bar Start -->
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="shop-bottom-bar">
                    <ul class="pagination">
                        <!-- Previous Page Link -->
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page={{ page_obj.previous_page_number }}">
                                    <i class="sli-arrow-left"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="sli-arrow-left"></i></a></li>
                        {% endif %}

                        <!-- First Page Link -->
                        {% if page_obj.number > 4 %}
                            <li>
                                <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page=1">1</a>
                            </li>
                            <li class="disabled"><span>...</span></li>
                        {% endif %}

                        <!-- Page Number Links -->
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number|add:'-3' <= i and i <= page_obj.number|add:'3' %}
                                {% if page_obj.number == i %}
                                    <li><a class="active"
                                           href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page={{ i }}">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <!-- Last Page Link -->
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <li class="disabled"><span>...</span></li>
                            <li>
                                <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            </li>
                        {% endif %}

                        <!-- Next Page Link -->
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.paginateBy %}paginateBy={{ request.GET.paginateBy }}&{% endif %}page={{ page_obj.next_page_number }}">
                                    <i class="sli-arrow-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="sli-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <!-- Shop Bottom Bar End -->


        </div>
    </div>
    <!-- Product Section End -->

{% endblock %}