{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Banner Section Start -->
    {% include 'includes/page_banner.html' with page_name="shop list" %}
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">

            <!-- Shop Top Bar Start -->
            <div class="shop-top-bar">

                <div class="shop-top-bar-item">
                    <label for="SortBy">Sort by :</label>
                    <select name="SortBy" id="SortBy">
                        <option value="manual">Featured</option>
                        <option value="best-selling">Best Selling</option>
                        <option value="title-ascending">Alphabetically, A-Z</option>
                        <option value="title-descending">Alphabetically, Z-A</option>
                        <option value="price-ascending">Price, low to high</option>
                        <option value="price-descending">Price, high to low</option>
                        <option value="created-descending">Date, new to old</option>
                        <option value="created-ascending">Date, old to new</option>
                    </select>
                </div>

                <div class="shop-top-bar-item">
                    <p>Showing 1 - 12 of 25 result</p>
                </div>

                <div class="shop-top-bar-item">
                    <label for="paginateBy">Show :</label>
                    <select name="paginateBy" id="paginateBy">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12" selected>12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <div class="shop-top-bar-item">
                    <div class="nav list-grid-toggle">
                        <button class="active" data-bs-toggle="tab" data-bs-target="#product-grid"><i
                                class="sli-grid"></i></button>
                        <button data-bs-toggle="tab" data-bs-target="#product-list"><i class="sli-menu"></i></button>
                    </div>
                </div>

            </div>
            <!-- Shop Top Bar End -->

            <!-- Product Tab Start -->
            <div class="tab-content" id="shopProductTabContent">
                <div class="tab-pane fade show active" id="product-grid">
                    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">

                        <div class="col mb-6">
                            <div class="product">
                                <div class="product-thumb">
                                    <a href="product-details.html" class="product-image"><img loading="lazy"
                                                                                              src="{% static 'images/products/product-1.jpg' %}"
                                                                                              alt="House Coffee Original"
                                                                                              width="268" height="306"></a>


{#                                    {% include 'includes/new-product.html' %}#}

{#                                    {% include 'includes/sale-product.html' with value=10 %}#}
{#                                    {% include 'includes/soldout-product.html' %}#}

                                    <div class="product-action">
                                        <button class="product-action-btn" data-tooltip-text="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleProductModal"><i
                                                class="sli-magnifier"></i></button>
                                        <button class="product-action-btn" data-tooltip-text="Add to wishlist"><i
                                                class="sli-heart"></i></button>
                                        <button class="product-action-btn" data-tooltip-text="Compare"><i
                                                class="sli-refresh"></i></button>
                                        <button class="product-action-btn" data-tooltip-text="Add to cart"><i
                                                class="sli-bag"></i></button>
                                    </div>

                                    <div class="product-variation">
                                        <div class="product-variation-type">
                                            <button class="product-variation-type-btn" data-tooltip-text="White"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-1.jpg' %}" alt="white"
                                                    width="23" height="23"></button>
                                            <button class="product-variation-type-btn" data-tooltip-text="Gold"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-2.jpg' %}" alt="gold"
                                                    width="23" height="23"></button>
                                            <button class="product-variation-type-btn" data-tooltip-text="Black"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-3.jpg' %}" alt="black"
                                                    width="23" height="23"></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="product-content">

                                    <h5 class="product-title"><a href="product-details.html">House Coffee Original</a>
                                    </h5>
                                    <div class="product-price">
                                        <del>$130.00</del>
                                        $110.00
                                    </div>
                                    <div class="product-rating">
                                        <span class="product-rating-bg"><span class="product-rating-active"
                                                                              style="width: 90%;"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="product-list">
                    <div class="row row-cols-md-1 row-cols-sm-2 row-cols-1 gy-4">

                        <div class="col mb-6">
                            <div class="product product-list">
                                <div class="product-thumb">
                                    <a href="product-details.html" class="product-image"><img loading="lazy"
                                                                                              src="{% static 'images/products/product-1.jpg' %}"
                                                                                              alt="House Coffee Original"
                                                                                              width="268" height="306"></a>


                                    {% include 'includes/new-product.html' %}


                                    {% include 'includes/sale-product.html' with value=15 %}
                                    {% include 'includes/soldout-product.html' %}
                                    <div class="product-action">
                                        <button class="product-action-btn" data-tooltip-text="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleProductModal"><i
                                                class="sli-magnifier"></i></button>
                                    </div>

                                    <div class="product-variation">
                                        <div class="product-variation-type">
                                            <button class="product-variation-type-btn" data-tooltip-text="White"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-1.jpg' %}" alt="white"
                                                    width="23" height="23"></button>
                                            <button class="product-variation-type-btn" data-tooltip-text="Gold"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-2.jpg' %}" alt="gold"
                                                    width="23" height="23"></button>
                                            <button class="product-variation-type-btn" data-tooltip-text="Black"><img
                                                    loading="lazy"
                                                    src="{% static 'images/products/variation/type/type-3.jpg' %}" alt="black"
                                                    width="23" height="23"></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="product-content">

                                    <h5 class="product-title"><a href="product-details.html">House Coffee Original</a>
                                    </h5>
                                    <p class="product-excerpt">Contrary to popular belief, Lorem Ipsum is not simply
                                        random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old. Richard McClintock, a Latin professor at
                                        Hampden-Sydney College in Virginia,</p>
                                    <div class="product-price">
                                        <del>$130.00</del>
                                        $110.00
                                    </div>
                                    <div class="product-rating">
                                        <span class="product-rating-bg"><span class="product-rating-active"
                                                                              style="width: 90%;"></span></span>
                                    </div>
                                    <div class="product-action position-static">
                                        <button class="product-action-btn" data-tooltip-text="Add to wishlist"><i
                                                class="sli-heart"></i></button>
                                        <button class="product-action-btn"><i class="sli-basket-loaded"></i> Add to Cart
                                        </button>
                                        <button class="product-action-btn" data-tooltip-text="Compare"><i
                                                class="sli-refresh"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Product Tab End -->

            <!-- Shop Bottom Bar Start -->
            <div class="shop-bottom-bar">
                <ul class="pagination">
                    <li class="disabled"><a href="#prev"><i class="sli-arrow-left"></i></a></li>
                    <li><a class="active" href="#page=1">1</a></li>
                    <li><a href="#page=2">2</a></li>
                    <li><a href="#page=3">3</a></li>
                    <li><a href="#next"><i class="sli-arrow-right"></i></a></li>
                </ul>
            </div>
            <!-- Shop Bottom Bar End -->

        </div>
    </div>
    <!-- Product Section End -->

{% endblock %}