{% load static %}
{% load math_filters %}

<div class="quickview-product-modal modal fade" id="example{{ object.id }}">
    <div class="modal-dialog modal-dialog-centered mw-100">
        <div class="container">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <!-- Single Product Top Area Start -->
                    <div class="row row-cols-md-2 row-cols-1 mb-n6">

                        <!-- Product Image Start -->
                        <div class="col mb-6">
                            <div class="single-product-image">

                                <!-- Product Badge Start -->
                                {% if object.is_recent %}
                                    {% include 'includes/new-product.html' %}
                                {% endif %}
                                {% if object.availability == 0 %}
                                    {% include 'includes/soldout-product.html' %}
                                {% else %}
                                    {% if object.discount and object.discount.is_active %}
                                        {% include 'includes/sale-product.html' with value=object.discount.value %}
                                    {% endif %}
                                {% endif %}
                                <!-- Product Badge End -->

                                <!-- Product Image Slider Start -->
                                <div class="quickview-product-image-slider swiper">
                                    <div class="swiper-wrapper">
                                        {% for image in object.images.all|slice:":4" %}
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{{ image.media.url }}"
                                                                           alt="{{ object.title }}"></div>
                                        {% empty %}
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-1.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-2.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-3.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-4.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-pagination d-none"></div>
                                    <div class="swiper-button-prev d-none"></div>
                                    <div class="swiper-button-next d-none"></div>
                                </div>
                                <!-- Product Image Slider End -->

                                <!-- Product Thumbnail Carousel Start -->
                                <div class="quickview-product-thumb-carousel swiper">
                                    <div class="swiper-wrapper">
                                        {% for image in object.images.all|slice:":4" %}
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{{ image.media.url }}"
                                                                           alt="{{ object.title }}"></div>
                                        {% empty %}
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-1.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-2.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-3.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                            <div class="swiper-slide"><img loading="lazy"
                                                                           src="{% static 'images/products/single/single-product-4.jpg' %}"
                                                                           alt="Signature Blend Roast Coffee"></div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-pagination d-none"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <!-- Product Thumbnail Carousel End -->

                            </div>
                        </div>
                        <!-- Product Image End -->

                        <!-- Product Content Start -->
                        <div class="col mb-6">
                            <div class="single-product-content">
                                <h1 class="single-product-title">{{ object.title }}</h1>
                                <div class="single-product-price">
                                    {% if object.discount and object.discount.is_active %}
                                        <del>${{ object.price }}</del>
                                        ${{ object.price|discount_percentage:object.discount.value }}
                                    {% else %}
                                        ${{ object.price }}
                                    {% endif %}
                                </div>
                                <ul class="single-product-meta">
                                    <li><span class="label">Availability :</span> <span
                                            class="value">{{ object.availability }} Left in Stock</span></li>
                                </ul>
                                <div class="single-product-text">
                                    <p>{{ object.description }}</p>
                                </div>
                                <ul class="single-product-variations">
                                    <li><span class="label">Size :</span>
                                        <div class="value">
                                            <div class="single-product-variation-size-wrap">
                                                <div class="single-product-variation-size-item"><input type="radio"
                                                                                                       name="qv-size"
                                                                                                       id="qv-size-s"
                                                                                                       checked><label
                                                        for="qv-size-s">s</label></div>
                                                <div class="single-product-variation-size-item"><input type="radio"
                                                                                                       name="qv-size"
                                                                                                       id="qv-size-m"><label
                                                        for="qv-size-m">m</label></div>
                                                <div class="single-product-variation-size-item"><input type="radio"
                                                                                                       name="qv-size"
                                                                                                       id="qv-size-l"><label
                                                        for="qv-size-l">l</label></div>
                                                <div class="single-product-variation-size-item"><input type="radio"
                                                                                                       name="qv-size"
                                                                                                       id="qv-size-xl"><label
                                                        for="qv-size-xl">xl</label></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><span class="label">Color :</span>
                                        <div class="value">
                                            <div class="single-product-variation-color-wrap">
                                                <div class="single-product-variation-color-item"><input type="radio"
                                                                                                        name="qv-color"
                                                                                                        id="qv-color-purple"
                                                                                                        checked><label
                                                        for="qv-color-purple"
                                                        style="background-color: purple;">purple</label></div>
                                                <div class="single-product-variation-color-item"><input type="radio"
                                                                                                        name="qv-color"
                                                                                                        id="qv-color-violet"><label
                                                        for="qv-color-violet"
                                                        style="background-color: violet;">violet</label></div>
                                                <div class="single-product-variation-color-item"><input type="radio"
                                                                                                        name="qv-color"
                                                                                                        id="qv-color-black"><label
                                                        for="qv-color-black"
                                                        style="background-color: black;">black</label></div>
                                                <div class="single-product-variation-color-item"><input type="radio"
                                                                                                        name="qv-color"
                                                                                                        id="qv-color-pink"><label
                                                        for="qv-color-pink"
                                                        style="background-color: pink;">pink</label>
                                                </div>
                                                <div class="single-product-variation-color-item"><input type="radio"
                                                                                                        name="qv-color"
                                                                                                        id="qv-color-orange"><label
                                                        for="qv-color-orange"
                                                        style="background-color: orange;">orange</label></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><span class="label">Material :</span>
                                        <div class="value">
                                            <div class="single-product-variation-material-wrap">
                                                <div class="single-product-variation-material-item"><input
                                                        type="radio"
                                                        name="qv-material"
                                                        id="qv-material-metal"
                                                        checked><label
                                                        for="qv-material-metal">metal</label></div>
                                                <div class="single-product-variation-material-item"><input
                                                        type="radio"
                                                        name="qv-material"
                                                        id="qv-material-resin"><label
                                                        for="qv-material-resin">resin</label></div>
                                                <div class="single-product-variation-material-item"><input
                                                        type="radio"
                                                        name="qv-material"
                                                        id="qv-material-leather"><label
                                                        for="qv-material-leather">leather</label></div>
                                                <div class="single-product-variation-material-item"><input
                                                        type="radio"
                                                        name="qv-material"
                                                        id="qv-material-slag"><label
                                                        for="qv-material-slag">slag</label></div>
                                                <div class="single-product-variation-material-item"><input
                                                        type="radio"
                                                        name="qv-material"
                                                        id="qv-material-fiber"><label
                                                        for="qv-material-fiber">fiber</label></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="single-product-actions">
                                    <div class="single-product-actions-item">
                                        <div class="product-quantity-count">
                                            <button class="dec qty-btn">-</button>
                                            <input class="product-quantity-box" type="text" name="quantity"
                                                   value="1">
                                            <button class="inc qty-btn">+</button>
                                        </div>
                                    </div>
                                    <div class="single-product-actions-item">
                                        <button class="btn btn-dark btn-primary-hover rounded-0">ADD TO CART
                                        </button>
                                    </div>

                                </div>
                                <div class="single-product-safe-payment">
                                    <p>Guaranteed safe checkout</p>
                                    <img src="{% static 'images/footer/footer-payment.png' %}" alt="payment">
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->

                    </div>
                    <!-- Single Product Top Area End -->
                </div>
            </div>
        </div>
    </div>
</div>
