{% load static %}
<!-- JS Vendor, Plugins & Activation Script Files -->

<!-- Vendors JS -->
<script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

<!-- Plugins JS -->
<script src="{% static  'js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static  'js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static  'js/plugins/svg-inject.min.js' %}"></script>
<script src="{% static  'js/plugins/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static  'js/plugins/ion.rangeSlider.min.js' %}"></script>
<script src="{% static  'js/plugins/jquery.zoom.min.js' %}"></script>
<script src="{% static  'js/plugins/resize-sensor.js' %}"></script>
<script src="{% static  'js/plugins/jquery.sticky-sidebar.min.js' %}"></script>

<!-- Activation JS -->
<script src="{% static 'js/active.js' %}"></script>
