{% load static %}
{% load math_filters %}
<div class="product">
    <div class="product-thumb">
        <a href="{% url 'products:product-detail' object.id %}" class="product-image"><img loading="lazy"
                                                                                           src="{% if object.images.exists %}
                                                                                                  {{ object.images.first.media.url }}
                                                                                                  {% else %}
                                                                                                  {% static 'images/products/product-1.jpg' %}
                                                                                                  {% endif %}"
                                                                                           alt="{{ object.name }}"
                                                                                           width="268"
                                                                                           height="306"></a>
        {% if object.is_recent %}
            {% include 'includes/new-product.html' %}
        {% endif %}
        {% if object.availability == 0 %}
            {% include 'includes/soldout-product.html' %}
        {% else %}
            {% if object.discount and object.discount.is_active %}
                {% include 'includes/sale-product.html' with value=object.discount.value %}
            {% endif %}
        {% endif %}
        <div class="product-action">
            {#            <button class="product-action-btn" data-tooltip-text="Quick View"#}
            {#                    data-bs-toggle="modal" data-bs-target="#example{{ object.id }}"><i#}
            {#                    class="sli-magnifier"></i></button>#}
            {#                                            <button class="product-action-btn" data-tooltip-text="Add to wishlist"><i#}
            {#                                                    class="sli-heart"></i></button>#}
            {#                                            <button class="product-action-btn" data-tooltip-text="Compare"><i#}
            {#                                                    class="sli-refresh"></i></button>#}
            <button class="product-action-btn" data-tooltip-text="Add to cart"><i
                    class="sli-bag"></i></button>
        </div>

        <div class="product-variation">
            <div class="product-variation-type">
                {% for image in object.images.all %}
                    <button class="product-variation-type-btn"
                            data-tooltip-text={{ image.name }}>
                        <img
                                loading="lazy"
                                src="{{ image.media.url }}"
                                alt={{ image.name }}
                                        width="23" height="23"></button>
                {% empty %}
                    <button class="product-variation-type-btn"
                            data-tooltip-text="White">
                        <img
                                loading="lazy"
                                src="{% static 'images/products/variation/type/type-1.jpg' %}"
                                alt="white"
                                width="23" height="23"></button>
                    <button class="product-variation-type-btn" data-tooltip-text="Gold">
                        <img
                                loading="lazy"
                                src="{% static 'images/products/variation/type/type-2.jpg' %}"
                                alt="gold"
                                width="23" height="23"></button>
                    <button class="product-variation-type-btn"
                            data-tooltip-text="Black">
                        <img
                                loading="lazy"
                                src="{% static 'images/products/variation/type/type-3.jpg' %}"
                                alt="black"
                                width="23" height="23"></button>
                {% endfor %}

            </div>
        </div>

    </div>
    <div class="product-content">

        <h5 class="product-title"><a href="{% url 'products:product-detail' object.id %}">{{ object.name }}</a>
        </h5>
        <div class="product-price">
            {% if object.discount and object.discount.is_active %}
                <del>${{ object.price }}</del>
                ${{ object.price|discount_percentage:object.discount.value }}
            {% else %}
                ${{ object.price }}
            {% endif %}
        </div>
        <div class="product-rating">
                                        <span class="product-rating-bg"><span class="product-rating-active"
                                                                              style="width:
                                                                                      {{ object.average_score|multiply:20 }}%;"></span></span>
        </div>
    </div>
</div>
