{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    {% include 'includes/page_banner.html' with page_name='About Us' %}
    <!-- Page Banner Section End -->

    <!-- About Us Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-1 mb-n8">

                <div class="col mb-8 about-us-image" >
                    <img loading="lazy" src="{{ obj.image.media.url }}" alt="about us image" width="560"
                         height="472" >
                </div>

                <div class="col mb-8">
                    <div class="section-title">
                        <h2 class="sub-title">
                            <span class="text-primary">{{ obj.title_1|slice:":6" }}</span>{{ obj.title_1|slice:"6:" }}
                        </h2>
                        <p class="text">{{ obj.under_title_1 }}.</p>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">{{ obj.title_2 }}</h3>
                            <p class="feature-text">{{ obj.under_title_2 }}</p>
                        </div>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">{{ obj.title_3 }}</h3>
                            <p class="feature-text">{{ obj.under_title_3 }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Testimonial Section Start -->
    <div class="h1-testimonial-section section section-padding bg-light">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Client Says</p>
                <h2 class="sub-title">Testimonials</h2>

            </div>

            <div class="testimonial-slider swiper">

                <div class="swiper-wrapper">
                    {% if comments %}
                        {% for comment in comments %}
                            {% include 'includes/testimonials.html' with comment=comment %}
                        {% endfor %}
                    {% else %}
                        <div class="swiper-slide">
                            <div class="testimonial">
                                <div class="testimonial-client-thumb"><img loading="lazy"
                                                                           src="{% static 'images/testimonial/testimonial-1.png' %}"
                                                                           alt="Hester Perkins" width="100"
                                                                           height="100">
                                </div>
                                <div class="testimonial-text">
                                    <p>I've been drinking coffee for years and I can honestly say that coffee is the
                                        best
                                        product out there. Coffee has a perfect taste and it wakes me up in the morning.
                                        It's
                                        also really affordable.</p>
                                </div>
                                <div class="testimonial-client-info">
                                    <h5 class="testimonial-client-name">Hester Perkins</h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial">
                                <div class="testimonial-client-thumb"><img loading="lazy"
                                                                           src="{% static 'images/testimonial/testimonial-2.png' %}"
                                                                           alt="Hester Perkins" width="100"
                                                                           height="100">
                                </div>
                                <div class="testimonial-text">
                                    <p>I've been drinking coffee for years and I can honestly say that coffee is the
                                        best
                                        product out there. Coffee has a perfect taste and it wakes me up in the morning.
                                        It's
                                        also really affordable.</p>
                                </div>
                                <div class="testimonial-client-info">
                                    <h5 class="testimonial-client-name">Hester Perkins</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev d-none d-md-flex"></div>
                <div class="swiper-button-next d-none d-md-flex"></div>
            </div>

        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Team Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Happens Here</p>
                <h2 class="sub-title">OUR AWESOME TEAM</h2>

            </div>

            <div class="team-carousel swiper">

                <div class="swiper-wrapper">
                    {% if team_users %}
                        {% for team_user in team_users %}
                            {% include 'includes/team_users.html' with team_user=team_user %}
                        {% endfor %}
                    {% else %}
                        <div class="swiper-slide">
                            <div class="team">
                                <div class="team-thumb">
                                    <img loading="lazy" src="{% static 'images/team/team-1.png' %}"
                                         alt="Mr. Mike Banding"
                                         width="270"
                                         height="324">
                                    <div class="team-social">
                                        <a href="#"><i class="sli-social-facebook"></i></a>
                                        <a href="#"><i class="sli-social-twitter"></i></a>
                                        <a href="#"><i class="sli-social-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4 class="team-name">Mr. Mike Banding</h4>
                                    <p class="team-title">Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team">
                                <div class="team-thumb">
                                    <img loading="lazy" src="{% static 'images/team/team-2.png' %}" alt="Mr. Peter Pan"
                                         width="270"
                                         height="324">
                                    <div class="team-social">
                                        <a href="#"><i class="sli-social-facebook"></i></a>
                                        <a href="#"><i class="sli-social-twitter"></i></a>
                                        <a href="#"><i class="sli-social-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4 class="team-name">Mr. Peter Pan</h4>
                                    <p class="team-title">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team">
                                <div class="team-thumb">
                                    <img loading="lazy" src="{% static 'images/team/team-3.png' %}" alt="Mr. John Lee"
                                         width="270"
                                         height="324">
                                    <div class="team-social">
                                        <a href="#"><i class="sli-social-facebook"></i></a>
                                        <a href="#"><i class="sli-social-twitter"></i></a>
                                        <a href="#"><i class="sli-social-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4 class="team-name">Mr. John Lee</h4>
                                    <p class="team-title">Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team">
                                <div class="team-thumb">
                                    <img loading="lazy" src="{% static 'images/team/team-4.png' %}" alt="Ms. Sophia"
                                         width="270"
                                         height="324">
                                    <div class="team-social">
                                        <a href="#"><i class="sli-social-facebook"></i></a>
                                        <a href="#"><i class="sli-social-twitter"></i></a>
                                        <a href="#"><i class="sli-social-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4 class="team-name">Ms. Sophia</h4>
                                    <p class="team-title">Chairmen</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team">
                                <div class="team-thumb">
                                    <img loading="lazy" src="{% static 'images/team/team-4.png' %}" alt="Ms. Lee"
                                         width="270"
                                         height="324">
                                    <div class="team-social">
                                        <a href="#"><i class="sli-social-facebook"></i></a>
                                        <a href="#"><i class="sli-social-twitter"></i></a>
                                        <a href="#"><i class="sli-social-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h4 class="team-name">Ms. Lee</h4>
                                    <p class="team-title">Marketer</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="swiper-pagination d-md-none"></div>
                <div class="swiper-button-prev d-none d-md-flex"></div>
                <div class="swiper-button-next d-none d-md-flex"></div>
            </div>

        </div>
    </div>
    <!-- Team Section End -->

    <!-- Gallery Section Start -->
    <div class="h1-gallery-section section section-padding pt-0">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Happens Here</p>
                <h2 class="sub-title">LIMOVA GALLERY</h2>

            </div>

            <div class="mfp-zoom-gallery row row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">
                {% if obj.gallery.all %}
                    {% for image in obj.gallery.all %}
                        {% include 'includes/limova_gallery.html' with immage=image %}
                    {% endfor %}
                {% else %}
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-1.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-1.jpg' %}" alt="gallery 1"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-2.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-2.jpg' %}" alt="gallery 2"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-3.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-3.jpg' %}" alt="gallery 3"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-4.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-4.jpg' %}" alt="gallery 4"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-5.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-5.jpg' %}" alt="gallery 5"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                    <div class="col mb-6">
                        <a href="{% static 'images/gallery/big/gallery-6.jpg' %}" class="gallery-item">
                            <img loading="lazy" src="{% static 'images/gallery/gallery-6.jpg' %}" alt="gallery 6"
                                 width="348"
                                 height="418">
                            <div class="gallery-item-overlay"><i class="sli-size-fullscreen"></i></div>
                        </a>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    <!-- Gallery Section End -->

{% endblock %}