{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    {% include 'includes/header_plugin.html' %}
    {% block script %}
    {% endblock %}
</head>

<body>
<div class="header sticky-header section">
    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- Logo Start -->
            <div class="col-lg-2 col">
                <div class="header-logo">
                    <a href="{% url 'core:home' %}">
                        <img src="{% static 'images/logo/limova-logo-title.jpeg' %}" width="125" height="42"
                             alt="Limova logo">
                        <img class="light" src="{% static 'images/logo/limova-logo-title.jpeg' %}" width="125"
                             height="42"
                             alt="Limova logo">
                    </a>
                </div>
            </div>
            <!-- Logo End -->

            <!-- Menu Start -->
            <div class="col d-none d-lg-block">
                <nav class="main-menu">
                    <ul>
                        <li><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="{% url 'products:product-list' %}">Shop</a></li>
                        <li><a href="{% url 'articles:article-list' %}">Explore</a></li>
                        <li><a href="{% url 'core:contact-us' %}">Contact Us</a></li>
                        <li><a href="{% url 'core:about-us' %}">About Us</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'users:login' %}">Login</a></li>
                            <li><a href="{% url 'users:signup' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Menu End -->

            <!-- Action Start -->
            <div class="col-auto">
                <div class="header-action">
                    <div class="header-action-item">
                        <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas-search"><i class="sli-magnifier"></i></button>
                    </div>
                    <div class="header-action-item">
                        <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas-cart"><i class="sli-basket-loaded"><span
                                class="count">02</span></i> <span class="amount">$229.00</span></button>
                    </div>
                    <div class="header-action-item dropdown">
                        <button class="header-action-toggle" type="button" data-bs-toggle="dropdown"><i
                                class="sli-settings"></i></button>
                        <div class="dropdown-menu header-dropdown-menu">
                            <h6 class="header-dropdown-menu-title">Currency</h6>
                            <ul>
                                <li><a href="javascript:void(0)">USD - US Dollar</a></li>
                                <li><a href="javascript:void(0)">EUR - Euro</a></li>
                                <li><a href="javascript:void(0)">GBP - British Pound</a></li>
                            </ul>
                            <h6 class="header-dropdown-menu-title">Account</h6>
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-action-item d-lg-none">
                        <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas-header"><i class="sli-menu"></i></button>
                    </div>
                </div>
            </div>
            <!-- Action End -->

        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end w-100 bg-dark border-0" id="offcanvas-search">
    <div class="offcanvas-body d-flex align-items-center justify-content-center">
        <button type="button" class="btn-close offcanvas-search-close-btn text-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        <div class="offcanvas-search-form">
            <form action="#">
                <input type="search" name="q" placeholder="Search our store">
                <button type="submit"><i class="sli-magnifier"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" id="offcanvas-cart">
    <div class="offcanvas-header">
        <h5>Shoping Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div class="header-cart-body">
            <div class="header-cart-products">
                <div class="header-cart-product">
                    <div class="header-cart-product-thumb">
                        <a href="../../templates/product-details.html" class="header-cart-product-image"><img
                                src="{% static 'images/products/cart/product-1.jpg' %}" alt="House Coffee Original"
                                width="90"
                                height="103"></a>
                        <button class="header-cart-product-remove"><i class="sli-close"></i></button>
                    </div>
                    <div class="header-cart-product-content">
                        <h5 class="header-cart-product-title"><a href="../../templates/product-details.html">House
                            Coffee Original</a>
                        </h5>
                        <span class="header-cart-product-quantity">1 x $110.00</span>
                    </div>
                </div>
                <div class="header-cart-product">
                    <div class="header-cart-product-thumb">
                        <a href="../../templates/product-details.html" class="header-cart-product-image"><img
                                src="{% static 'images/products/cart/product-2.jpg' %}" alt="Medium Roast Ground Coffee"
                                width="90" height="103"></a>
                        <button class="header-cart-product-remove"><i class="sli-close"></i></button>
                    </div>
                    <div class="header-cart-product-content">
                        <h5 class="header-cart-product-title"><a href="../../templates/product-details.html">Medium
                            Roast Ground
                            Coffee</a></h5>
                        <span class="header-cart-product-quantity">1 x $19.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-cart-footer">
            <h4 class="header-cart-total">Total: <span>$129.00</span></h4>
            <div class="header-cart-buttons">
                <a href="../../templates/checkout.html" class="btn btn-outline-dark btn-primary-hover">CHECKOUT</a>
                <a href="cart.html" class="btn btn-outline-dark btn-primary-hover">VIEW CART</a>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" id="offcanvas-header">
    <div class="offcanvas-header">
        <h5>Mobile Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="mobile-menu">
            <ul>
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'products:product-list' %}">Shop</a></li>
                <li><a href="{% url 'articles:article-list' %}">Explore</a></li>
                <li><a href="{% url 'core:contact-us' %}">Contact Us</a></li>
                <li><a href="{% url 'core:about-us' %}">About Us</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'users:signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% block content %}
    <!-- This is where child templates will insert their content -->
{% endblock %}

<!-- Footer Section Start -->
<div class="footer-section section">
    <!-- Footer Top Section Start -->
    <div class="footer-top section">
        <div class="container">
            <div class="row mb-n8 gy-lg-0 gy-4">

                <!-- Footer Widget Start -->
                <div class="col-lg-4 col-sm-6 col-12 mb-8">
                    <div class="footer-widget footer-widget-dark">
                        <h5 class="footer-widget-title">About Info</h5>
                        <p>This is the perfect place to find a nice and cozy spot to sip some. You'll find the Java
                            Jungle.</p>
                        <ul class="footer-widget-list-icon">
                            <li><i class="sli-location-pin"></i>Addresss: Exiner Str. 23a 12355 Berlin Germany</li>
                            <li><i class="sli-envelope"></i>Email: Info@systemtechnology.de <br> Pr@systemtechnology.de
                            </li>
                            <li><i class="sli-phone"></i>Phone: +49 (176) 67279393</li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                {#                <div class="col-lg-3 col-sm-6 col-12 mb-8">#}
                {#                    <div class="footer-widget footer-widget-dark">#}
                {#                        <h5 class="footer-widget-title">Information</h5>#}
                {#                        <ul class="footer-widget-list">#}
                {#                            <li><a href="#">Returns Policy</a></li>#}
                {#                            <li><a href="#">Support Policy</a></li>#}
                {#                            <li><a href="#">Size Guide</a></li>#}
                {#                            <li><a href="#">FAQs</a></li>#}
                {#                            <li><a href="#">Privacy Policy</a></li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-sm-6 col-12 mb-8">
                    <div class="footer-widget footer-widget-dark">
                        <h5 class="footer-widget-title">Quick Links</h5>
                        <ul class="footer-widget-list">
                            <li><a href="{% url 'core:about-us' %}">About us</a></li>
                            <li><a href="{% url 'core:contact-us' %}">Contact us</a></li>
                            {#                            <li><a href="wishlist.html">Wishlist</a></li>#}
                            {% if request.user.is_authenticated %}
                                <li><a href="my-account.html">My Account</a></li>
                            {% else %}
                                <li><a href="{% url 'users:login' %}">Login</a></li>
                                <li><a href="{% url 'users:signup' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-2 col-sm-6 col-12 mb-8">
                    <div class="footer-widget footer-widget-dark">
                        <h5 class="footer-widget-title">Follow Us On</h5>
                        <ul class="footer-widget-list-icon">
                            <li><a href="#"><i class="sli-social-facebook"></i>Facebook</a></li>
                            <li><a href="#"><i class="sli-social-twitter"></i>Twitter</a></li>
                            <li><a href="#"><i class="sli-social-instagram"></i>Instagram</a></li>
                            <li><a href="#"><i class="sli-social-youtube"></i>Youtube</a></li>
                            <li><a href="#"><i class="sli-social-pinterest"></i>Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->

            </div>
        </div>
    </div>
    <!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom footer-bottom-dark section">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-n2">

                <!-- Footer Widget Start -->
                <div class="col-md-auto col-12 mb-2">
                    <p class="footer-copyright footer-copyright-dark text-center">Copyright <b
                            class="text-primary">Limova</b> &copy;2023</p>
                </div>
                <!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-md-auto col-12 mb-2">
                    <div class="footer-payment text-center"><img loading="lazy"
                                                                 src="{% static 'images/footer/footer-payment.png' %}"
                                                                 alt="footer payment" width="342" height="30"></div>
                </div>
                <!-- Footer Widget End -->

            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->

</div>
<!-- Footer Section End -->
{% block example %}
{#    <div class="quickview-product-modal modal fade" id="exampleProductModal">#}
{#        <div class="modal-dialog modal-dialog-centered mw-100">#}
{#            <div class="container">#}
{#                <div class="modal-content">#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    <div class="modal-body">#}
{#                        <!-- Single Product Top Area Start -->#}
{#                        <div class="row row-cols-md-2 row-cols-1 mb-n6">#}
{##}
{#                            <!-- Product Image Start -->#}
{#                            <div class="col mb-6">#}
{#                                <div class="single-product-image">#}
{##}
{#                                    <!-- Product Badge Start -->#}
{#                                    <div class="single-product-badge-left">#}
{#                                        <span class="single-product-badge-new">new</span>#}
{#                                    </div>#}
{#                                    <div class="single-product-badge-right">#}
{#                                        <span class="single-product-badge-sale">sale</span>#}
{#                                        <span class="single-product-badge-sale">-11%</span>#}
{#                                    </div>#}
{#                                    <!-- Product Badge End -->#}
{##}
{#                                    <!-- Product Image Slider Start -->#}
{#                                    <div class="quickview-product-image-slider swiper">#}
{#                                        <div class="swiper-wrapper">#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-1.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-2.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-3.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-4.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                        </div>#}
{#                                        <div class="swiper-pagination d-none"></div>#}
{#                                        <div class="swiper-button-prev d-none"></div>#}
{#                                        <div class="swiper-button-next d-none"></div>#}
{#                                    </div>#}
{#                                    <!-- Product Image Slider End -->#}
{##}
{#                                    <!-- Product Thumbnail Carousel Start -->#}
{#                                    <div class="quickview-product-thumb-carousel swiper">#}
{#                                        <div class="swiper-wrapper">#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-1.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-2.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-3.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                            <div class="swiper-slide"><img loading="lazy"#}
{#                                                                           src="{% static 'images/products/single/single-product-4.jpg' %}"#}
{#                                                                           alt="Signature Blend Roast Coffee"></div>#}
{#                                        </div>#}
{#                                        <div class="swiper-pagination d-none"></div>#}
{#                                        <div class="swiper-button-prev"></div>#}
{#                                        <div class="swiper-button-next"></div>#}
{#                                    </div>#}
{#                                    <!-- Product Thumbnail Carousel End -->#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- Product Image End -->#}
{##}
{#                            <!-- Product Content Start -->#}
{#                            <div class="col mb-6">#}
{#                                <div class="single-product-content">#}
{#                                    <h1 class="single-product-title">Signature Blend Roast Coffee</h1>#}
{#                                    <div class="single-product-price">$99.00#}
{#                                        <del>$110.00</del>#}
{#                                    </div>#}
{#                                    <ul class="single-product-meta">#}
{#                                        <li><span class="label">Availability :</span> <span#}
{#                                                class="value">11 Left in Stock</span></li>#}
{#                                    </ul>#}
{#                                    <div class="single-product-text">#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority#}
{#                                            have suffered alteration in some form, by injected humour, or randomised#}
{#                                            words#}
{#                                            which don't look even slightly believable. If you are going to use a passage#}
{#                                            of#}
{#                                            Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in#}
{#                                            the#}
{#                                            middle of text.</p>#}
{#                                    </div>#}
{#                                    <ul class="single-product-variations">#}
{#                                        <li><span class="label">Size :</span>#}
{#                                            <div class="value">#}
{#                                                <div class="single-product-variation-size-wrap">#}
{#                                                    <div class="single-product-variation-size-item"><input type="radio"#}
{#                                                                                                           name="qv-size"#}
{#                                                                                                           id="qv-size-s"#}
{#                                                                                                           checked><label#}
{#                                                            for="qv-size-s">s</label></div>#}
{#                                                    <div class="single-product-variation-size-item"><input type="radio"#}
{#                                                                                                           name="qv-size"#}
{#                                                                                                           id="qv-size-m"><label#}
{#                                                            for="qv-size-m">m</label></div>#}
{#                                                    <div class="single-product-variation-size-item"><input type="radio"#}
{#                                                                                                           name="qv-size"#}
{#                                                                                                           id="qv-size-l"><label#}
{#                                                            for="qv-size-l">l</label></div>#}
{#                                                    <div class="single-product-variation-size-item"><input type="radio"#}
{#                                                                                                           name="qv-size"#}
{#                                                                                                           id="qv-size-xl"><label#}
{#                                                            for="qv-size-xl">xl</label></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li><span class="label">Color :</span>#}
{#                                            <div class="value">#}
{#                                                <div class="single-product-variation-color-wrap">#}
{#                                                    <div class="single-product-variation-color-item"><input type="radio"#}
{#                                                                                                            name="qv-color"#}
{#                                                                                                            id="qv-color-purple"#}
{#                                                                                                            checked><label#}
{#                                                            for="qv-color-purple"#}
{#                                                            style="background-color: purple;">purple</label></div>#}
{#                                                    <div class="single-product-variation-color-item"><input type="radio"#}
{#                                                                                                            name="qv-color"#}
{#                                                                                                            id="qv-color-violet"><label#}
{#                                                            for="qv-color-violet"#}
{#                                                            style="background-color: violet;">violet</label></div>#}
{#                                                    <div class="single-product-variation-color-item"><input type="radio"#}
{#                                                                                                            name="qv-color"#}
{#                                                                                                            id="qv-color-black"><label#}
{#                                                            for="qv-color-black"#}
{#                                                            style="background-color: black;">black</label></div>#}
{#                                                    <div class="single-product-variation-color-item"><input type="radio"#}
{#                                                                                                            name="qv-color"#}
{#                                                                                                            id="qv-color-pink"><label#}
{#                                                            for="qv-color-pink"#}
{#                                                            style="background-color: pink;">pink</label>#}
{#                                                    </div>#}
{#                                                    <div class="single-product-variation-color-item"><input type="radio"#}
{#                                                                                                            name="qv-color"#}
{#                                                                                                            id="qv-color-orange"><label#}
{#                                                            for="qv-color-orange"#}
{#                                                            style="background-color: orange;">orange</label></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li><span class="label">Material :</span>#}
{#                                            <div class="value">#}
{#                                                <div class="single-product-variation-material-wrap">#}
{#                                                    <div class="single-product-variation-material-item"><input#}
{#                                                            type="radio"#}
{#                                                            name="qv-material"#}
{#                                                            id="qv-material-metal"#}
{#                                                            checked><label#}
{#                                                            for="qv-material-metal">metal</label></div>#}
{#                                                    <div class="single-product-variation-material-item"><input#}
{#                                                            type="radio"#}
{#                                                            name="qv-material"#}
{#                                                            id="qv-material-resin"><label#}
{#                                                            for="qv-material-resin">resin</label></div>#}
{#                                                    <div class="single-product-variation-material-item"><input#}
{#                                                            type="radio"#}
{#                                                            name="qv-material"#}
{#                                                            id="qv-material-leather"><label#}
{#                                                            for="qv-material-leather">leather</label></div>#}
{#                                                    <div class="single-product-variation-material-item"><input#}
{#                                                            type="radio"#}
{#                                                            name="qv-material"#}
{#                                                            id="qv-material-slag"><label#}
{#                                                            for="qv-material-slag">slag</label></div>#}
{#                                                    <div class="single-product-variation-material-item"><input#}
{#                                                            type="radio"#}
{#                                                            name="qv-material"#}
{#                                                            id="qv-material-fiber"><label#}
{#                                                            for="qv-material-fiber">fiber</label></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                    <div class="single-product-actions">#}
{#                                        <div class="single-product-actions-item">#}
{#                                            <div class="product-quantity-count">#}
{#                                                <button class="dec qty-btn">-</button>#}
{#                                                <input class="product-quantity-box" type="text" name="quantity"#}
{#                                                       value="1">#}
{#                                                <button class="inc qty-btn">+</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="single-product-actions-item">#}
{#                                            <button class="btn btn-dark btn-primary-hover rounded-0">ADD TO CART#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="single-product-actions-item">#}
{#                                            <button class="btn btn-icon btn-light btn-primary-hover rounded-0"><i#}
{#                                                    class="sli-heart"></i></button>#}
{#                                        </div>#}
{#                                        <div class="single-product-actions-item">#}
{#                                            <button class="btn btn-icon btn-light btn-primary-hover rounded-0"><i#}
{#                                                    class="sli-refresh"></i></button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <ul class="single-product-meta">#}
{#                                        <li><span class="label">Categories :</span> <span class="value links">#}
{#                                        <a href="#">Coffee</a>#}
{#                                        <a href="#">Deal Collection</a>#}
{#                                        <a href="#">Featured Products</a>#}
{#                                        <a href="#">Green coffee</a>#}
{#                                        <a href="#">Italian</a>#}
{#                                    </span></li>#}
{#                                        <li><span class="label">Tags :</span> <span class="value links">#}
{#                                        <a href="#">black</a>#}
{#                                        <a href="#">fiber</a>#}
{#                                        <a href="#">leather</a>#}
{#                                    </span></li>#}
{#                                        <li><span class="label">Share :</span> <span class="value social">#}
{#                                        <a href="#"><img src="{% static 'images/icons/social/facebook.png' %}"#}
{#                                                         alt="facebook"></a>#}
{#                                        <a href="#"><img src="{% static 'images/icons/social/twitter.png' %}"#}
{#                                                         alt="twitter"></a>#}
{#                                        <a href="#"><img src="{% static 'images/icons/social/pinterest.png' %}"#}
{#                                                         alt="pinterest"></a>#}
{#                                    </span></li>#}
{#                                    </ul>#}
{#                                    <div class="single-product-safe-payment">#}
{#                                        <p>Guaranteed safe checkout</p>#}
{#                                        <img src="{% static 'images/footer/footer-payment.png' %}" alt="payment">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- Product Content End -->#}
{##}
{#                        </div>#}
{#                        <!-- Single Product Top Area End -->#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
<button class="scroll-to-top"><i class="sli-arrow-up"></i></button>

{% include 'includes/footer_plugin.html' %}
</body>

</html>