<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kofi - Coffee Shop Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Kofi - Coffee Shop Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">

    <!-- Icons CSS -->
    <link rel="stylesheet" href="./assets/css/plugins/simple-line-icons.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>

    <div class="header sticky-header section">
        <div class="container-fluid">
            <div class="row align-items-center">

                <!-- Logo Start -->
                <div class="col-lg-2 col">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="./assets/images/logo/logo-dark.png" width="125" height="42" alt="kofi logo">
                            <img class="light" src="./assets/images/logo/logo-light.png" width="125" height="42" alt="kofi logo">
                        </a>
                    </div>
                </div>
                <!-- Logo End -->

                <!-- Menu Start -->
                <div class="col d-none d-lg-block">
                    <nav class="main-menu">
                        <ul>
                            <li class="has-sub-menu">
                                <a href="index.html">Home</a>

                                <ul class="sub-menu">
                                    <li><a href="index.html">Home One</a></li>
                                    <li><a href="index-2.html">Home Two</a></li>
                                    <li><a href="index-3.html">Home Three</a></li>
                                    <li><a href="index-4.html">Home Four</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html">Shop</a>

                                <ul class="mega-menu">
                                    <li>
                                        <a href="shop.html">Shop Grid Layout</a>

                                        <ul>
                                            <li><a href="shop-left-sidebar.html">Shop Grid Left Sidebar</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Grid Right Sidebar</a></li>
                                            <li><a href="shop-3-column.html">Shop Grid 3 Column (no sidebar)</a></li>
                                            <li><a href="shop-4-column.html">Shop Grid 4 Column (no sidebar)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index-2.html">Shop List Layout</a>

                                        <ul>
                                            <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                            <li><a href="shop-list-no-sidebar.html">Shop List (no sidebar)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index-3.html">Product Pages</a>

                                        <ul>
                                            <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="product-details-sticky-content.html">Product Details Sticky Content</a></li>
                                            <li><a href="product-details-thumbnail-right.html">Product Details Right Thumbnail</a></li>
                                            <li><a href="product-details-gallery.html">Product Details Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index-4.html">Others</a>

                                        <ul>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub-menu">
                                <a href="index.html">Pages</a>

                                <ul class="sub-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="has-sub-menu">
                                <a href="blog-left-sidebar.html">Blog</a>

                                <ul class="sub-menu">
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Menu End -->

                <!-- Action Start -->
                <div class="col-auto">
                    <div class="header-action">
                        <div class="header-action-item">
                            <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="sli-magnifier"></i></button>
                        </div>
                        <div class="header-action-item">
                            <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-cart"><i class="sli-basket-loaded"><span class="count">02</span></i> <span class="amount">$229.00</span></button>
                        </div>
                        <div class="header-action-item dropdown">
                            <button class="header-action-toggle" type="button" data-bs-toggle="dropdown"><i class="sli-settings"></i></button>
                            <div class="dropdown-menu header-dropdown-menu">
                                <h6 class="header-dropdown-menu-title">Currency</h6>
                                <ul>
                                    <li><a href="javascript:void(0)">USD - US Dollar</a></li>
                                    <li><a href="javascript:void(0)">EUR - Euro</a></li>
                                    <li><a href="javascript:void(0)">GBP - British Pound</a></li>
                                </ul>
                                <h6 class="header-dropdown-menu-title">Account</h6>
                                <ul>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-action-item d-lg-none">
                            <button class="header-action-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-header"><i class="sli-menu"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Action End -->

            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end w-100 bg-dark border-0" id="offcanvas-search">
        <div class="offcanvas-body d-flex align-items-center justify-content-center">
            <button type="button" class="btn-close offcanvas-search-close-btn text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="offcanvas-search-form">
                <form action="#">
                    <input type="search" name="q" placeholder="Search our store">
                    <button type="submit"><i class="sli-magnifier"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" id="offcanvas-cart">
        <div class="offcanvas-header">
            <h5>Shoping Cart</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <div class="header-cart-body">
                <div class="header-cart-products">
                    <div class="header-cart-product">
                        <div class="header-cart-product-thumb">
                            <a href="product-details.html" class="header-cart-product-image"><img src="./assets/images/products/cart/product-1.jpg" alt="House Coffee Original" width="90" height="103"></a>
                            <button class="header-cart-product-remove"><i class="sli-close"></i></button>
                        </div>
                        <div class="header-cart-product-content">
                            <h5 class="header-cart-product-title"><a href="product-details.html">House Coffee Original</a></h5>
                            <span class="header-cart-product-quantity">1 x $110.00</span>
                        </div>
                    </div>
                    <div class="header-cart-product">
                        <div class="header-cart-product-thumb">
                            <a href="product-details.html" class="header-cart-product-image"><img src="./assets/images/products/cart/product-2.jpg" alt="Medium Roast Ground Coffee" width="90" height="103"></a>
                            <button class="header-cart-product-remove"><i class="sli-close"></i></button>
                        </div>
                        <div class="header-cart-product-content">
                            <h5 class="header-cart-product-title"><a href="product-details.html">Medium Roast Ground Coffee</a></h5>
                            <span class="header-cart-product-quantity">1 x $19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-cart-footer">
                <h4 class="header-cart-total">Total: <span>$129.00</span></h4>
                <div class="header-cart-buttons">
                    <a href="checkout.html" class="btn btn-outline-dark btn-primary-hover">CHECKOUT</a>
                    <a href="cart.html" class="btn btn-outline-dark btn-primary-hover">VIEW CART</a>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" id="offcanvas-header">
        <div class="offcanvas-header">
            <h5>Mobile Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="mobile-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        <button class="mobile-sub-menu-toggle"></button>
                        <ul class="mobile-sub-menu">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-2.html">Home Two</a></li>
                            <li><a href="index-3.html">Home Three</a></li>
                            <li><a href="index-4.html">Home Four</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="shop-left-sidebar.html">Shop</a>
                        <button class="mobile-sub-menu-toggle"></button>
                        <ul class="mobile-sub-menu">
                            <li>
                                <a href="shop.html">Shop Grid Layout</a>
                                <button class="mobile-sub-menu-toggle"></button>
                                <ul class="mobile-sub-menu">
                                    <li><a href="shop-left-sidebar.html">Shop Grid Left Sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop Grid Right Sidebar</a></li>
                                    <li><a href="shop-3-column.html">Shop Grid 3 Column (no sidebar)</a></li>
                                    <li><a href="shop-4-column.html">Shop Grid 4 Column (no sidebar)</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-2.html">Shop List Layout</a>
                                <button class="mobile-sub-menu-toggle"></button>
                                <ul class="mobile-sub-menu">
                                    <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                    <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                    <li><a href="shop-list-no-sidebar.html">Shop List (no sidebar)</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-3.html">Product Pages</a>
                                <button class="mobile-sub-menu-toggle"></button>
                                <ul class="mobile-sub-menu">
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="product-details-sticky-content.html">Product Details Sticky Content</a></li>
                                    <li><a href="product-details-thumbnail-right.html">Product Details Right Thumbnail</a></li>
                                    <li><a href="product-details-gallery.html">Product Details Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-4.html">Others</a>
                                <button class="mobile-sub-menu-toggle"></button>
                                <ul class="mobile-sub-menu">
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html">Pages</a>
                        <button class="mobile-sub-menu-toggle"></button>
                        <ul class="mobile-sub-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">Blog</a>
                        <button class="mobile-sub-menu-toggle"></button>
                        <ul class="mobile-sub-menu">
                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                            <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                            <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Blog Details Left Sidebar</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Blog Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">
            <div class="row flex-lg-row-reverse gy-4">

                <div class="col-lg-9 col-12 mb-8">
                    <div class="single-blog">
                        <div class="single-blog-image"><img src="assets/images/blog/blog-single-1.jpg" alt="Watch misni sdedn nises"></div>
                        <div class="single-blog-content">
                            <h1 class="single-blog-title">Watch misni sdedn nises</h1>
                            <ul class="single-blog-meta">
                                <li>14 November, 2023</li>
                                <li>HasTech Shopify Team</li>
                            </ul>
                            <div class="single-blog-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprhendit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deser mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et</p>
                                <blockquote>
                                    <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                                </blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendrit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <div class="single-blog-tags">
                                        <span>Tags:</span>
                                        <ul>
                                            <li><a href="#">coffee</a></li>
                                            <li><a href="#">tea</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="single-blog-share">
                                        <span>Share:</span>
                                        <ul>
                                            <li><a href="#"><i class="sli-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="sli-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="sli-social-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="next-prev-post-nav">
                        <li><a href="#"><i class="sli-arrow-left"></i>Older Post</a></li>
                        <li><a href="#"><i class="sli-arrow-right"></i>Newer Post</a></li>
                    </ul>
                    <div class="single-blog-comment">

                        <div class="block-title-2">
                            <h4 class="title">Comments (2)</h4>

                        </div>

                        <!-- Comment List Start -->
                        <ul class="comment-list">
                            <li>
                                <div class="comment-item">
                                    <div class="comment-thumb"><img src="./assets/images/testimonial/testimonial-1.png" alt="Edna Watson"></div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <h5 class="comment-name">Edna Watson</h5>
                                            <span class="comment-date">November 27, 2023</span>
                                        </div>
                                        <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                                        <a href="#" class="comment-reply">Reply</a>
                                    </div>
                                </div>
                                <ul class="comment-child">
                                    <li>
                                        <div class="comment-item">
                                            <div class="comment-thumb"><img src="./assets/images/testimonial/testimonial-2.png" alt="Hester Perkins"></div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <h5 class="comment-name">Hester Perkins</h5>
                                                    <span class="comment-date">November 27, 2023</span>
                                                </div>
                                                <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                                                <a href="#" class="comment-reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Comment List End -->

                        <div class="block-title-2">
                            <h4 class="title">Leave your thought here</h4>

                        </div>

                        <!-- Comment Form Start -->
                        <div class="comment-form">
                            <form action="#">
                                <div class="row g-4">
                                    <div class="col-sm-6">
                                        <label for="name">Name</label>
                                        <input class="form-field" id="name" name="name" type="text" placeholder="Enter your name">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="email">Email</label>
                                        <input class="form-field" id="email" name="email" type="email" placeholder="john.smith@example.com">
                                    </div>
                                    <div class="col-12">
                                        <label for="message">Message</label>
                                        <textarea class="form-field" id="message" name="message" placeholder="Write your messages here"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-dark btn-primary-hover rounded-0" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Comment Form End -->
                    </div>
                </div>

                <div class="col-lg-3 col-12 mb-8">
                    <div class="blog-sidebar-item">
                        <h4 class="blog-sidebar-title">Search</h4>
                        <div class="blog-sidebar-body">
                            <div class="blog-sidebar-search">
                                <form action="#">
                                    <input class="form-field" type="text" placeholder="Search">
                                    <button class="btn"><i class="sli-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="blog-sidebar-item">
                        <h4 class="blog-sidebar-title">Recent Post</h4>
                        <div class="blog-sidebar-body">
                            <div class="blog-sidebar-post">
                                <a href="blog-details-left-sidebar.html" class="blog-sidebar-post-thumb"><img src="./assets/images/blog/blog-1.jpg" alt="Watch misni sdedn nises"></a>
                                <div class="blog-sidebar-post-content">
                                    <span class="blog-sidebar-post-date">14 November, 2023</span>
                                    <h5 class="blog-sidebar-post-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn nises</a></h5>
                                </div>
                            </div>
                            <div class="blog-sidebar-post">
                                <a href="blog-details-left-sidebar.html" class="blog-sidebar-post-thumb"><img src="./assets/images/blog/blog-2.jpg" alt="Jininsi smart watch mnisyh nise"></a>
                                <div class="blog-sidebar-post-content">
                                    <span class="blog-sidebar-post-date">14 November, 2023</span>
                                    <h5 class="blog-sidebar-post-title"><a href="blog-details-left-sidebar.html">Jininsi smart watch mnisyh nise</a></h5>
                                </div>
                            </div>
                            <div class="blog-sidebar-post">
                                <a href="blog-details-left-sidebar.html" class="blog-sidebar-post-thumb"><img src="./assets/images/blog/blog-3.jpg" alt="Minis mnies anide ewnis"></a>
                                <div class="blog-sidebar-post-content">
                                    <span class="blog-sidebar-post-date">14 November, 2023</span>
                                    <h5 class="blog-sidebar-post-title"><a href="blog-details-left-sidebar.html">Minis mnies anide ewnis</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-sidebar-item">
                        <h4 class="blog-sidebar-title">Archive</h4>
                        <div class="blog-sidebar-body">
                            <ul class="blog-sidebar-archive">
                                <li><a href="#">January 2023</a></li>
                                <li><a href="#">December 2023</a></li>
                                <li><a href="#">November 2023</a></li>
                                <li><a href="#">October 2023</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-sidebar-item">
                        <h4 class="blog-sidebar-title">Tags</h4>
                        <div class="blog-sidebar-body">
                            <div class="blog-sidebar-tag">
                                <a href="#" class="">black</a>
                                <a href="#" class="">coffee</a>
                                <a href="#" class="">cold</a>
                                <a href="#" class="">mug</a>
                                <a href="#" class="">news</a>
                                <a href="#" class="">shop</a>
                                <a href="#" class="">smartwatch</a>
                                <a href="#" class="">tea</a>
                                <a href="#" class="">watch</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Section End -->

    <!-- Footer Section Start -->
    <div class="footer-section section">
        <!-- Footer Top Section Start -->
        <div class="footer-top section">
            <div class="container">
                <div class="row mb-n8 gy-lg-0 gy-4">

                    <!-- Footer Widget Start -->
                    <div class="col-lg-4 col-sm-6 col-12 mb-8">
                        <div class="footer-widget footer-widget-dark">
                            <h5 class="footer-widget-title">About Info</h5>
                            <p>This is the perfect place to find a nice and cozy spot to sip some. You'll find the Java Jungle.</p>
                            <ul class="footer-widget-list-icon">
                                <li><i class="sli-location-pin"></i>Addresss: 123 Pall Mall, London England</li>
                                <li><i class="sli-envelope"></i>Email: hello@example.com</li>
                                <li><i class="sli-phone"></i>Phone: (012) 345 6789</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-sm-6 col-12 mb-8">
                        <div class="footer-widget footer-widget-dark">
                            <h5 class="footer-widget-title">Information</h5>
                            <ul class="footer-widget-list">
                                <li><a href="#">Returns Policy</a></li>
                                <li><a href="#">Support Policy</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-sm-6 col-12 mb-8">
                        <div class="footer-widget footer-widget-dark">
                            <h5 class="footer-widget-title">Quick Links</h5>
                            <ul class="footer-widget-list">
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-lg-2 col-sm-6 col-12 mb-8">
                        <div class="footer-widget footer-widget-dark">
                            <h5 class="footer-widget-title">Follow Us On</h5>
                            <ul class="footer-widget-list-icon">
                                <li><a href="#"><i class="sli-social-facebook"></i>Facebook</a></li>
                                <li><a href="#"><i class="sli-social-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="sli-social-instagram"></i>Instagram</a></li>
                                <li><a href="#"><i class="sli-social-youtube"></i>Youtube</a></li>
                                <li><a href="#"><i class="sli-social-pinterest"></i>Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                </div>
            </div>
        </div>
        <!-- Footer Top Section End -->

        <!-- Footer Bottom Section Start -->
        <div class="footer-bottom footer-bottom-dark section">
            <div class="container">
                <div class="row justify-content-between align-items-center mb-n2">

                    <!-- Footer Widget Start -->
                    <div class="col-md-auto col-12 mb-2">
                        <p class="footer-copyright footer-copyright-dark text-center">Copyright <b class="text-primary">Kofi</b> &copy;2023</p>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-md-auto col-12 mb-2">
                        <div class="footer-payment text-center"><img loading="lazy" src="./assets/images/footer/footer-payment.png" alt="footer payment" width="342" height="30"></div>
                    </div>
                    <!-- Footer Widget End -->

                </div>
            </div>
        </div>
        <!-- Footer Bottom Section End -->

    </div>
    <!-- Footer Section End -->

    <button class="scroll-to-top"><i class="sli-arrow-up"></i></button>

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="./assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="./assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="./assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="./assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="./assets/js/plugins/svg-inject.min.js"></script>
    <script src="./assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="./assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="./assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="./assets/js/plugins/resize-sensor.js"></script>
    <script src="./assets/js/plugins/jquery.sticky-sidebar.min.js"></script>

    <!-- Activation JS -->
    <script src="./assets/js/active.js"></script>

</body>

</html>