{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Contact Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-md-2 row-cols-1 g-4">
                <div class="col">
                    <div class="block-title">

                        <h2 class="sub-title">Keep in Touch</h2>
                    </div>
                    <ul class="contact-info">
                        <li><i class="sli-location-pin"></i>Exiner Str. 23a 12355<br> Berlin Germany.</li>
                        <li><i class="sli-envelope"></i>Info@systemtechnology.de <br> Pr@systemtechnology.de</li>
                        <li><i class="sli-phone"></i>+49 176 67279393</li>
                    </ul>
                </div>
                <div class="col">
                    <div class="contact-form">
                        <form id="contact-form" method="post" action="{% url 'core:contact-us' %}">
                            {% csrf_token %}
                            <div class="row row-cols-1 g-4">
                                <div class="col-sm-6 col-md-12 col-lg-6 col"><input class="form-field" name="name"
                                                                                    type="text" placeholder="Name">
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6 col"><input class="form-field" name="email"
                                                                                    type="email" placeholder="Email">
                                </div>
                                <div class="col"><input class="form-field" name="subject" type="text"
                                                        placeholder="Subject"></div>
                                <div class="col"><textarea class="form-field" name="message"
                                                           placeholder="Message"></textarea></div>

                                <div class="col"><input class="btn btn-dark btn-primary-hover rounded-0 w-100"
                                                        type="submit" value="Send Message"></div>
                            </div>
                        </form>
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <p class="form-messege"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->

    <!-- Contact Map Section Start -->
    <div class="section section-padding pt-0">
        <div class="container">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114896.59987487551!2d-122.41969332729698!3d47.609610451096295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C%20WA%2C%20USA!5e0!3m2!1sen!2sbd!4v1644128683621!5m2!1sen!2sbd"
                        allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <!-- Contact Map Section End -->


    <button class="scroll-to-top"><i class="sli-arrow-up"></i></button>

{% endblock %}



