{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Banner Section Start -->
    {% include 'includes/page_banner.html' with page_name="BLOG" %}
    <!-- Page Banner Section End -->

    <!-- Blog Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-6">
                {% for object in object_list %}
                    {% include 'includes/blog_list.html' %}
                {% empty %}
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="blog-details-left-sidebar.html" class="blog-thumb"><img loading="lazy"
                                                                                             src="{% static 'images/blog/blog-1.jpg' %}"
                                                                                             alt="Watch misni sdedn nises"
                                                                                             width="348"
                                                                                             height="232"></a>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details-left-sidebar.html">Watch misni sdedn
                                    nises</a>
                                </h4>
                                <ul class="blog-meta">
                                    <li>14 November, 2023</li>
                                    <li><a href="blog-details-left-sidebar.html">0 Comments</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore...</p>
                                <a href="blog-details-left-sidebar.html" class="btn">Explore More</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Blog Section End -->
{% endblock %}